<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Home</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Home</a>
              <a class="navbar-brand" href="/positions">Positions</a>
              <a class="navbar-brand" href="/positionsbysector">Positions by Sector</a>
              <a class="navbar-brand" href="/transactions">Transactions</a>
              <a class="navbar-brand" href="/securities">Securities List</a>
              <a class="navbar-brand" href="/reset">Reset Transactions</a>
            </div>
          </div>
        </nav>
        <h3>Home</h3>
        <h5>Click the links above to navigate this site.</h5>
        <h5>You can view your positions, filter them by sector, enter and view transactions, and view what securities are valid for this exercise.</h5>
        <h5>If any functionality is missing or you have questions on how to use the site, please feel free to contact me at joaladwig@gmail.com</h5>
    </body>
</html>